<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzm.springbootsecurity.dao.UserDao">
    <resultMap type="com.xzm.springbootsecurity.entity.UserEntity" id="UserMapper">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByUsername" resultMap="UserMapper">
        select
          id, username, password
        from user
        where username = #{username}
    </select>

</mapper>